@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
  margin: 0;
  padding: 0;
}

.main-div {
  width: 100%;
  height: 100vh;
  background: #171723;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.backgroudImage {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 60%;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(45, 12, 233, 0.7), rgba(240, 23, 204, 0.7)), url('https://images.unsplash.com/photo-1597739239353-50270a473397?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3RyZWV0fGVufDB8fDB8fHww');
  background-size: cover;
  object-fit: cover;
  background-position: center;
  color: white
}


.todo-div {
  width: 580px;
  height: 84%;
  position: absolute;
  top: 15%;
  background-color: transparent;
  gap: 30px;
  display: grid;
  grid-template-rows: 1fr 2fr 8fr;
  /* background: #22253A; */
}

.input {
  width: 100%;
  /* height: 20%; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22253A;
}

.input input {
  width: 85%;
  outline: none;
  border: none;
  padding: 0 10px;
  font-size: 20px;
  color: white;
  background-color: #22253A;
  height: 100%;
}

.input input::placeholder {
  font-size: 19px;
}

.input button {
  border-radius: 50%;
  font-size: 29px;
  color: rgba(255, 254, 254, 0.8);
}


.todo-result-div {
  overflow: auto;
  border-radius: 10px;

  width: 100%;
  background-color: #22253A;
}


.task {
  width: 90% !important;
  background: transparent;
  height: 70px;
  padding: 5px 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid white;
  margin-left: 25px;
  display: flex;
  color: rgba(255, 254, 254, 0.8);
  justify-content: center;
  align-items: center;
}

.icon i {
  cursor: pointer;
}

@media (max-width:450px) {
  .task {
    margin-left: 14px;
  }
}


.text {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  font-size: 19px;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #343649;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #22253A;
}


.heading {
  font-size: 35px;
  font-family: "Aclonica", sans-serif;
  color: whitesmoke;
}